<%- include('navbar.ejs')%>
<form action="/admin/save_doctor" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Doctor info</h2>
            </div>
            <div class="col-md-3">
                Doctor Name
                <input type="text" class="form-control" name="doctor_name">
            </div>
            <div class="col-md-3">
                Doctor Mobile
                <input type="number" class="form-control" name="doctor_mobile">
            </div>
            <div class="col-md-3">
                Doctor Email
                <input type="text" class="form-control" name="doctor_email">
            </div>
            <div class="col-md-3">
                Specialist
                <input type="text" class="form-control" name="specialist">
            </div>
            <div class="col-md-3" reqi>
                Service of doctor
                <select class="form-control" name="doctor_service_id" required>
                    <option></option>
                    <% for (var i=0;i<service_list.length;i++) { %>
                        <option value="<%=service_list[i].service_id%>"><%=service_list[i].service_name%></option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-3">
                Doctor Image
                <input type="file" name="doctor_image" class="form-control" required> 
            </div>
            <div class="col-md-3">
                Twitter Link
                <input type="link" class="form-control" name="twitter_link">
            </div>
            <div class="col-md-3">
                 Link
                 <input type="link" class="form-control" name="facebook_link">
                </div>
            <div class="col-md-3">
                LinkedIn Link
                <input type="link" class="form-control" name="linkedin_link">
            </div>
            <div class="col-md-3">
                Instagram Link
                <input type="link" class="form-control" name="instagram_link">
            </div>
            <div class="col-md-12 text-center mt-3">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>SN</th>
                    <th>DOCTOR NAME</th>
                    <th>DOCTOR MOBILE</th>
                    <th>DOCTOR EMAIL</th>
                    <th>SPECIALIST</th>
                    <th>SERVICE NAME</th>
                    <th>SERVICE IMAGE</th>
                </tr>
                <% for(var i=0;i<doctors.length;i++) { %>
                <tr>
                    <td>
                        <a href="/admin/edit_doctors/<%=doctors[i].doctor_id%>">
                            <button class="btn btn-primary">EDIT</button>
                        </a>
                        <a href="/admin/delete_doctors/<%=doctors[i].doctor_id%>">
                            <button class="btn btn-danger mt-2">DELETE</button>
                        </a>
                    </td>
                    <td><%=doctors[i].doctor_id%></td>
                    <td><%=doctors[i].doctor_name%></td>
                    <td><%=doctors[i].doctor_mobile%></td>
                    <td><%=doctors[i].doctor_email%></td>
                    <td><%=doctors[i].specialist%></td>
                    <td><%=service_list[i].service_name%></td>
                    <td>
                        <img src="/img/<%=doctors[i].doctor_image%>" width="100px">
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
<%- include('footer.ejs')%>